body {
	background-color: #8ACE00;
	text-align: center;

	h1 {
		font-size: 72px;
	}

	.logbutton {
		font-size: 26px;
		font-weight: bold;
	}

	input {
		display: flex;
		flex-direction: column;
		text-align: center;
		margin-left: 33%;
	}

	#searchbar input {
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}

	#reviewbox input {
		margin-left: auto;
		margin-right: auto;
		width: 30%;
		height: 120px;
		overflow: scroll;
	}

	ul {
		list-style-type: none;
		padding: 0;
	  }
	
	.review {
		display: inline-block;
		background-color: #6fa404;
	}

	.warning {
		color: red;
	}
}

